<link rel ="stylesheet" href="/login/login.css" type="text/css"> 
<h1>LOGIN</h1>
<% if(register_message.length >0) { %>
    <%= register_message%>

<%}%>
<br>

<% if(messages.error) { %>
    <%= locals.messages.error%>

<%}%>

<form action="/users/login" method="POST">
    <input type="email" id="email" name="email" placeholder = "Email">
    <br>
    <input type="password" id="password" name="password" placeholder = "Password">
    <br>
    <input type="submit" value="Login">
    <br>
    <a href="/users/register">Sign up</a>
</form>