/*> is a child combinator, placed between two CSS selectors
It enables you to select a class, and then a child class inside that class*/
/* .navbar-brand{
    
    padding-right:300px;
  } */

  .navbar-nav{
      flex:1;
      display:flex;
      justify-content: space-between;
}

.footerSection{
    position:absolute;
   bottom:0;
   width:100%;
   border-radius: 4px;
    background-color:#0D060F;
}

.footerSection p{
    color: #a8968c;
}

.navbar-brand{
    border-radius: 4px;
}

.navbar-brand:hover{
    background-color: #1E2824
}

body{
background-color: #846C5B;
}

.navbar-custom{
    border-radius: 4px;
    width:100%;
    background:#0D060F;
}

.nav-link{
    color: #a8968c !important;
   border-radius: 4px;
   padding-left: 10px !important;
   padding-right: 10px !important;
    
}

.nav-link:hover{
  background-color: #1E2824

}

.searchSubmit{
    border-color: #a8968c;
    color: #a8968c;
}

.searchSubmit:hover{
    border-color: #a8968c;
    background-color: #2a7a5a;
    color:#121111;
}


   /* Set the border color */
          
   .custom-toggler.navbar-toggler {
    border-color: #a8968c;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(168, 150, 140, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


  
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .searchInput{
        width:180px !important;
        margin-right: 2;
        padding-right: 2;
            }



   
 
    .test{
        background-color: pink;
    }
    
}


/* 
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
 
    .test{
        background-color: green;
    }
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px){ 
  
    .test{
        background-color: purple;
    }
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
    .test{
        background-color: red;
    }
    
    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
    .test{
        background-color: blue;
    }
    
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
    .test{
        background-color: grey;
    }
    
    
}

    



 